<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "Ahaboard" %></h1>
  <p>Beautiful leader board for teams to compete!</p>

  <button type="submit">Log with Strava</button>
</section>
