<section class="phx-hero">
  <h1>Welcome to Stravamate!</h1>

  <p>
    Create your own Strava custom team leaderboards
  </p>

  <a class="button" href="<%= Routes.auth_path(@conn, :request, "strava") %>">
    Continue with Strava
  </a>
</section>
